{%extends "blog/base.html"%}
{%block content%}
<article class="media content-section">
    <div>
    <h1 class="heading-about">About Page</h1>
    </div>
    <div class="p-text">    
        <p>This Web App is to fill an assigment of our big Job at Telkom University, Alex and Ikhwan the one developed
                         this web application. </p>
        <p>This Web is used for kind of social media like twitter.</p>
        <p>Many thanks for to dev corey on youtube and stackoverflow community for helping us finishing this great journey.</p>
    </div>
</article>
{% endblock content%}